## SPDX-License-Identifier: GPL-2.0-only

if VENDOR_XUNLONG

choice
	prompt "Mainboard model"

source "src/mainboard/xunlong/*/Kconfig.name"

endchoice

source "src/mainboard/xunlong/*/Kconfig"

config MAINBOARD_VENDOR
	default "XunLong"

endif # VENDOR_XUNLONG
